mixin film(image,name,year,hour,star)
    .card-firm
        a.card-firm__main(href='./watch.html')
            .poster
                img(src=image alt='')
            .quality HD
            .play
                i.fa-solid.fa-play
        a.card-firm__name(href='./watch.html')=name
        .card-firm__info
            if star
                span.item.star= star
                span.item= year
                i.item.fa-solid.fa-circle
                span.item= hour
            else
                span.item= year
                i.item.fa-solid.fa-circle
                span.item= hour

mixin filmList(type,image,name,year,hour,star)
    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1=type)
        .film-item
            .card-firm
                a.card-firm__main(href='./watch.html')
                    .poster
                        img(src=image alt='')
                    .quality HD
                    .play
                        i.fa-solid.fa-play
                a.card-firm__name(href='./watch.html')=name
                .card-firm__info
                    if star
                        span.item.star= star
                        span.item= year
                        i.item.fa-solid.fa-circle
                        span.item= hour
                    else
                        span.item= year
                        i.item.fa-solid.fa-circle
                        span.item= hour